<!DOCTYPE html>
<!-- lol hi there, this was written by joseph for colin's pr software -->

<!-- TODO: handelbarsify this -->
<head>
    <title>SmAsheville PR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <script src="sortable/Sortable.js"></script>
</head>

<body>
    <div class="main">
        <div class="breaker"></div>
        <div class="breaker"></div>
        <div class="line"></div>
        <h1>SmAsheville PR</h1>
        <h2>Ballot for the 2016 Summer Season</h2>
        <div class="line"></div>
        <h2 class="header">Your Tag<br><span style="font-size:10px">to prevent duplicate votes</span></h2>
        <input type="text" class="text" id="tag">
        <h2 class="header">Main Votes<br><span style="font-size:10px">the mandatory part of the ballot</span></h2>
        <h2 class="item">Players<br><span style="font-size:10px">place players ranked in order from best to worst here</span></h2>
        <div class="list" id="players">
            <h2 id="placeholder" class="item">N/A<br><span style="font-size:10px">place players you don't know well enough to vote for under here</span></h2>
        </div>
        <h2 class="header">Superlative Awards<br><span style="font-size:10px">why we're REALLY voting</span></h2>
        <h2 class="item">Who had the best something or other words and stuff?<br><span style="font-size:10px">pick who you feel fits best</span></h2>
        <select class="pulldown" name="stuffs">
            <option>person1</option>
            <option>person2</option>
            <option>person3</option>
            <option>person4</option>
        </select>
        <h2 class="item">What was the best wow ok amazing ^O^<br><span style="font-size:10px">pick who you feel fits best</span></h2>
        <select class="pulldown" name="wowok">
            <option>person1</option>
            <option>person2</option>
            <option>person3</option>
            <option>person4</option>
        </select>
        <div class="breaker"></div>
        <div class="breaker"></div>
        <div class="line"></div>
        <h1>Cast Your Votes</h1>
        <button type="button" class="button" onclick="tally()">Click Me!</button>
        <div class="line"></div>
        <div class="breaker"></div>
        <div class="breaker"></div>
        <h2><span style="font-size:10px">debug info...</span></h2>
        <textarea id="debug" rows="10" cols="30"></textarea>
        <div class="breaker"></div>
        <div class="breaker"></div>
    </div>
</body>

</html>
