/*TODO:30 clean up the css*/


* {
    box-sizing: border-box;
    color: #2a3744;
}


body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    /*rgb(171, 204, 255)*/
    color: #2a3744;
    font-family: 'Open Sans', sans-serif;
}

.main {
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    background-color: rgb(171, 204, 255);
    background-position: center center;
    margin: 5px auto 3px auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    margin: 2px;
    padding: 0;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h2.item {
    background-color: #fefefe;
    border-bottom: 2px solid gray;
    flex-grow: 0;
    height: 3.5rem;
}

.question_text {
  background-color: #fefefe;
  height: 1.5rem;
}

h2.item2 {
    background-color: #fefefe;
    border-bottom: 2px solid gray;
    height: 3.5rem;
    flex-grow: 0;
}

.headertag {
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: .5em;
    width: 20%;
    display: inline-block;
    float: right;
}

.header {
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 6px;
    margin-bottom: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*div.item {
    width: 90%;
    height: 30px;
    margin: 2px auto 2px auto;
    background-color: #fefefe;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    padding-left: 8px;
    font-size: 20px;
    cursor: move;
}*/

.line {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 4px;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: #fefefe;
    display: inline;
    border-radius: .1em;
    width: 40%;
    margin: .5em auto .5em auto;
    text-align: center;
    border: none;
    font-size: 1rem;
}

.pulldown {
    width: 95%;
    height: 30px;
    margin: 2px auto 2px auto;
    /*background-color: rgb(0, 0, 0);*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    text-align: center;
    /*padding: 8px;*/
    /*color: ;*/
    border: none;
    font-size: 15px;
}

.button {
    width: 300px;
    height: 50px;
    margin: 10px auto 10px auto;
    background-color: #fefefe;
    /*background-color: rgb(0, 0, 0);*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    text-align: center;
    /*padding: 8px;*/
    /*color: white;*/
    border: none;
    font-size: 20px;
}

.breaker {
    padding: 0;
    width: 80%;
    height: 4px;
    margin: 8px auto 8px auto;
}

.short-text-q {
    display: inline-block;
    margin: auto;
    width: 60%
}

.tag-q-wrapper {
    display: block;
    height: 3rem;
}

.yourtag {
    width: 5rem;
    margin-left: 1rem;
    display: inline-block
}

.list_player {
    background-color: #fefefe;

    display: flex;
    justify-content: center;

    font-size: .75rem;

    border-bottom: 1px solid lightgray;

    cursor: move;
}

.player_list>li:nth-child(even) {
    border-left: 1px solid lightgray;
}

.listbox {
    display: flex;
    border: none;
    flex-wrap: wrap;
}

.players {
    width: 14rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    /*height: 100%;*/
}

    .player_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        background-color: #ddddff;
        flex: 1 0 auto;
    }

        .player_list > li {
            width: 50%;
            height: 1.5rem;
            flex-grow: 0;
            display: flex;
            align-items: center;
        }

.ranking {
    flex: 1 0 auto;
    align-content: stretch;
    align-items: stretch;
    border-left: 1px solid gray;
    flex-direction: column;
}

.ranking_list {
    /*display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-content: center;*/
    flex: auto;
    background-color: #ddddff;
    width: 100%;
}

.ranking_list > li {
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.ranking_list > li:last-child {
    border-bottom: none;
}

.blocklistwrapper {
    display: block;
}

.votewrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid black;
}



.sortable-ghost {
    opacity: .5;
    border: none;
}

.sortable-chosen {

}
